h5 {
  color: #30191b;
}

img {
  float: left;
  padding: 30px;
  padding-top: 5px;
  }

.verbage {
  color: #794044;
}

.buttons {
  font-style: italic;
}

.email {
  font-size: 16px;
}

body {
  background-color: #a17234
}

.name {
  color: #ca8f42;  
}
